<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTestBrowser" parallel="tests" thread-count="4">
    <test name="ChromeBrowserTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="githubSignIn.signInTest" />
        </classes>
    </test>

    <test name="FirefoxBrowserTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="githubSignIn.signInTest" />
        </classes>
    </test>

    <test name="OperaBrowserTest">
        <parameter name="browser" value="opera" />
        <classes>
            <class name="githubSignIn.signInTest" />
        </classes>
    </test>

    <test name="EdgeTest">
        <parameter name="browser" value="edge" />
        <classes>
            <class name="githubSignIn.signInTest" />
        </classes>
    </test>
</suite>